# Copyright (c) 2013-2018, 2024-2025, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

on boot
    start rmt_storage
    start rfs_access
    chmod 0660 /dev/lirc0
    chown system system /dev/lirc0
    chown system system /sys/kernel/hbtp/display_pwr

# Add torch node for cit
    chown system system /sys/class/leds/led:torch_0/brightness
    chown system system /sys/class/leds/led:torch_1/brightness
    chown system system /sys/class/leds/led:switch_0/brightness
    chown system system /sys/class/leds/led:torch_2/brightness
    chown system system /sys/class/leds/led:switch_1/brightness
    chown system system /sys/class/leds/flashlight/brightness

    chown system system /sys/class/leds/red/blink
    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/blue/blink

on fs
    restorecon_recursive /mnt/vendor/persist
    mkdir /mnt/vendor/persist/data 0700 system system
    mkdir /mnt/vendor/persist/hlos_rfs 0700 vendor_rfs vendor_rfs_shared
    mkdir /mnt/vendor/persist/hlos_rfs/shared 0700 vendor_rfs vendor_rfs_shared
    mkdir /mnt/vendor/persist/rfs 0700 vendor_rfs vendor_rfs
    mkdir /mnt/vendor/persist/rfs/msm 0700 vendor_rfs vendor_rfs
    mkdir /mnt/vendor/persist/rfs/msm/adsp 0700 vendor_rfs vendor_rfs
    mkdir /mnt/vendor/persist/rfs/msm/mpss 0700 vendor_rfs vendor_rfs
    mkdir /mnt/vendor/persist/rfs/msm/slpi 0700 vendor_rfs vendor_rfs
    mkdir /mnt/vendor/persist/rfs/shared 0700 vendor_rfs vendor_rfs

    mount ext4 /dev/block/bootdevice/by-name/persist /persist nosuid nodev barrier=1

    setprop sys.usb.ffs.aio_compat 1
    setprop persist.adb.nonblocking_ffs 0
    setprop ro.adb.nonblocking_ffs 0

on post-fs-data
    mkdir /data/vendor/hbtp 0750 system system
    mkdir /data/vendor/nfc 0770 nfc nfc
    mkdir /data/vendor/secure_element 0777 system system
    chmod 666 /sys/class/drm/card0-DSI-1/disp_count
    chown system system /sys/class/drm/card0-DSI-1/dim_alpha
    chown system system /sys/class/drm/card0-DSI-1/fod_ui_ready
    chown system system /sys/class/drm/card0-DSI-1/dim_layer_enable
    chown system system /sys/class/drm/card0-DSI-1/dimlayer_hbm_enabled

on init
    # Vibration motors
    chown system system /sys/class/meizu/motor/on_off
    chown system system /sys/class/meizu/motor/set_cspress
    chown system system /sys/class/meizu/motor/set_mback
    chown system system /sys/class/meizu/motor/rtp
    chown system system /sys/class/meizu/motor/set_rtp
    chown system system /sys/class/meizu/motor/freq
    chown system system /sys/class/timed_output/vibrator/enable
    chown system system /sys/class/meizu/motor/timeout
    chown system system /sys/class/meizu/motor/proline
    chmod 0666 /sys/class/meizu/motor/on_off
    chmod 0666 /sys/class/meizu/motor/set_cspress
    chmod 0666 /sys/class/meizu/motor/set_mback
    chmod 0666 /sys/class/meizu/motor/rtp
    chmod 0666 /sys/class/meizu/motor/set_rtp
    chmod 0666 /sys/class/meizu/motor/freq
    chmod 0666 /sys/class/timed_output/vibrator/enable
    chmod 0666 /sys/class/meizu/motor/timeout
    chmod 0666 /sys/class/meizu/motor/proline

    # Control press pressure
    chown system system /sys/cs_press/cs_press/sleep
    chown system system /sys/cs_press/cs_press/cal_data
    chown system system /dev/ndt
    chmod 0666 /sys/cs_press/cs_press/sleep
    chmod 0666 /sys/cs_press/cs_press/cal_data
    chmod 0666 /dev/ndt

    # Disable by default
    write /sys/cs_press/cs_press/sleep 1

on boot
    # Disable by default
    write /sys/cs_press/cs_press/sleep 1

on post-fs-data
    # Disable by default
    write /sys/cs_press/cs_press/sleep 1

on early-init
    # Disable by default
    write /sys/cs_press/cs_press/sleep 1

on post-fs-data
    # Display color mode
    chown system system /sys/class/meizu/lcm/display/lut
    chmod 0660 /sys/class/meizu/lcm/display/lut

    copy /vendor/etc/dsi_sofef00m_amoled_cmd_display.xml /data/vendor/display/dsi_sofef00m_amoled_cmd_display.xml
    chown system system /data/vendor/display/dsi_sofef00m_amoled_cmd_display.xml
    chmod 0660 /data/vendor/display/dsi_sofef00m_amoled_cmd_display.xml

    # Display Setting temperature effect flyme
    copy /vendor/etc/qdcm_calib_data_samsung_sofef00m_amoled_fhd+_cmd_mode_dsi_panel.xml /data/vendor/display/qdcm_calib_data_samsung_sofef00m_amoled_fhd+_cmd_mode_dsi_panel.xml
    chown system system /data/vendor/display/qdcm_calib_data_samsung_sofef00m_amoled_fhd+_cmd_mode_dsi_panel.xml
    chmod 0660 /data/vendor/display/qdcm_calib_data_samsung_sofef00m_amoled_fhd+_cmd_mode_dsi_panel.xml

    # Display Setting temperature effect a11+
    copy /vendor/etc/qdcm_calib_data_Dual_nt35597_cmd_mode_dsi_truly_panel_without_DSC.xml /data/vendor/display/qdcm_calib_data_Dual_nt35597_cmd_mode_dsi_truly_panel_without_DSC.xml
    chown system system /data/vendor/display/qdcm_calib_data_Dual_nt35597_cmd_mode_dsi_truly_panel_without_DSC.xml
    chmod 0660 /data/vendor/display/qdcm_calib_data_Dual_nt35597_cmd_mode_dsi_truly_panel_without_DSC.xml

    copy /vendor/etc/qdcm_calib_data_Dual_nt35597_video_mode_dsi_truly_panel_without_DSC.xml /data/vendor/display/qdcm_calib_data_Dual_nt35597_video_mode_dsi_truly_panel_without_DSC.xml
    chown system system /data/vendor/display/qdcm_calib_data_Dual_nt35597_video_mode_dsi_truly_panel_without_DSC.xml
    chmod 0660 /data/vendor/display/qdcm_calib_data_Dual_nt35597_video_mode_dsi_truly_panel_without_DSC.xml

    copy /vendor/etc/qdcm_calib_data_Dual_nt36850_cmd_mode_dsi_truly_panel_without_DSC.xml /data/vendor/display/qdcm_calib_data_Dual_nt36850_cmd_mode_dsi_truly_panel_without_DSC.xml
    chown system system /data/vendor/display/qdcm_calib_data_Dual_nt36850_cmd_mode_dsi_truly_panel_without_DSC.xml
    chmod 0660 /data/vendor/display/qdcm_calib_data_Dual_nt36850_cmd_mode_dsi_truly_panel_without_DSC.xml

    copy /vendor/etc/qdcm_calib_data_hx8399_video_mode_dsi_truly_panel.xml /data/vendor/display/qdcm_calib_data_hx8399_video_mode_dsi_truly_panel.xml
    chown system system /data/vendor/display/qdcm_calib_data_hx8399_video_mode_dsi_truly_panel.xml
    chmod 0660 /data/vendor/display/qdcm_calib_data_hx8399_video_mode_dsi_truly_panel.xml

    copy /vendor/etc/qdcm_calib_data_nt35597_cmd_mode_dsi_truly_panel_with_DSC.xml /data/vendor/display/qdcm_calib_data_nt35597_cmd_mode_dsi_truly_panel_with_DSC.xml
    chown system system /data/vendor/display/qdcm_calib_data_nt35597_cmd_mode_dsi_truly_panel_with_DSC.xml
    chmod 0660 /data/vendor/display/qdcm_calib_data_nt35597_cmd_mode_dsi_truly_panel_with_DSC.xml

    copy /vendor/etc/qdcm_calib_data_nt35597_video_mode_dsi_truly_panel_with_DSC.xml /data/vendor/display/qdcm_calib_data_nt35597_video_mode_dsi_truly_panel_with_DSC.xml
    chown system system /data/vendor/display/qdcm_calib_data_nt35597_video_mode_dsi_truly_panel_with_DSC.xml
    chmod 0660 /data/vendor/display/qdcm_calib_data_nt35597_video_mode_dsi_truly_panel_with_DSC.xml

    copy /vendor/etc/qdcm_calib_data_nt35695b_truly_fhd_command_mode_dsi_panel.xml /data/vendor/display/qdcm_calib_data_nt35695b_truly_fhd_command_mode_dsi_panel.xml
    chown system system /data/vendor/display/qdcm_calib_data_nt35695b_truly_fhd_command_mode_dsi_panel.xml
    chmod 0660 /data/vendor/display/qdcm_calib_data_nt35695b_truly_fhd_command_mode_dsi_panel.xml

    copy /vendor/etc/qdcm_calib_data_nt36525_video_mode_dsi_truly_panel.xml /data/vendor/display/qdcm_calib_data_nt36525_video_mode_dsi_truly_panel.xml
    chown system system /data/vendor/display/qdcm_calib_data_nt36525_video_mode_dsi_truly_panel.xml
    chmod 0660 /data/vendor/display/qdcm_calib_data_nt36525_video_mode_dsi_truly_panel.xml

    copy /vendor/etc/qdcm_calib_data_Sharp_1080p_cmd_mode_dsc_dsi_panel.xml /data/vendor/display/qdcm_calib_data_Sharp_4k_cmd_mode_dsc_dsi_panel.xml
    chown system system /data/vendor/display/qdcm_calib_data_Sharp_4k_cmd_mode_dsc_dsi_panel.xml
    chmod 0660 /data/vendor/display/qdcm_calib_data_Sharp_4k_cmd_mode_dsc_dsi_panel.xml

    copy /vendor/etc/qdcm_calib_data_Sharp_1080p_video_mode_dsc_dsi_panel.xml /data/vendor/display/qdcm_calib_data_Sharp_4k_video_mode_dsc_dsi_panel.xml
    chown system system /data/vendor/display/qdcm_calib_data_Sharp_4k_video_mode_dsc_dsi_panel.xml
    chmod 0660 /data/vendor/display/qdcm_calib_data_Sharp_4k_video_mode_dsc_dsi_panel.xml

    copy /vendor/etc/qdcm_calib_data_Sharp_2k_cmd_mode_dsc_dsi_panel.xml /data/vendor/display/qdcm_calib_data_Sharp_4k_cmd_mode_dsc_dsi_panel.xml
    chown system system /data/vendor/display/qdcm_calib_data_Sharp_4k_cmd_mode_dsc_dsi_panel.xml
    chmod 0660 /data/vendor/display/qdcm_calib_data_Sharp_4k_cmd_mode_dsc_dsi_panel.xml

    copy /vendor/etc/qdcm_calib_data_Sharp_2k_video_mode_dsc_dsi_panel.xml /data/vendor/display/qdcm_calib_data_Sharp_4k_video_mode_dsc_dsi_panel.xml
    chown system system /data/vendor/display/qdcm_calib_data_Sharp_4k_video_mode_dsc_dsi_panel.xml
    chmod 0660 /data/vendor/display/qdcm_calib_data_Sharp_4k_video_mode_dsc_dsi_panel.xml

    copy /vendor/etc/qdcm_calib_data_Sharp_4k_cmd_mode_dsc_dsi_panel.xml /data/vendor/display/qdcm_calib_data_Sharp_4k_cmd_mode_dsc_dsi_panel.xml
    chown system system /data/vendor/display/qdcm_calib_data_Sharp_4k_cmd_mode_dsc_dsi_panel.xml
    chmod 0660 /data/vendor/display/qdcm_calib_data_Sharp_4k_cmd_mode_dsc_dsi_panel.xml

    copy /vendor/etc/qdcm_calib_data_Sharp_4k_video_mode_dsc_dsi_panel.xml /data/vendor/display/qdcm_calib_data_Sharp_4k_video_mode_dsc_dsi_panel.xml
    chown system system /data/vendor/display/qdcm_calib_data_Sharp_4k_video_mode_dsc_dsi_panel.xml
    chmod 0660 /data/vendor/display/qdcm_calib_data_Sharp_4k_video_mode_dsc_dsi_panel.xml

    copy /vendor/etc/qdcm_calib_data_Sharp_fhd_cmd_mode_dsc_dsi_panel.xml /data/vendor/display/qdcm_calib_data_Sharp_4k_cmd_mode_dsc_dsi_panel.xml
    chown system system /data/vendor/display/qdcm_calib_data_Sharp_4k_cmd_mode_dsc_dsi_panel.xml
    chmod 0660 /data/vendor/display/qdcm_calib_data_Sharp_4k_cmd_mode_dsc_dsi_panel.xml

    copy /vendor/etc/qdcm_calib_data_Sharp_fhd_video_mode_dsc_dsi_panel.xml /data/vendor/display/qdcm_calib_data_Sharp_4k_video_mode_dsc_dsi_panel.xml
    chown system system /data/vendor/display/qdcm_calib_data_Sharp_4k_video_mode_dsc_dsi_panel.xml
    chmod 0660 /data/vendor/display/qdcm_calib_data_Sharp_4k_video_mode_dsc_dsi_panel.xml

    # SRS
    chown system system /sys/srs/srs_enable
    chown system system /sys/srs/srs_debug
    chown system system /sys/srs/srs_cpulevel
    chown system system /sys/srs/srs_gpulevel
    chown system system /sys/srs/srs_buslevel
    chown system system /sys/srs/srs_iolevel
    chown system system /sys/srs/srs_memlevel
    chmod 0664 /sys/srs/srs_enable
    chmod 0664 /sys/srs/srs_debug
    chmod 0664 /sys/srs/srs_cpulevel
    chmod 0664 /sys/srs/srs_gpulevel
    chmod 0664 /sys/srs/srs_buslevel
    chmod 0664 /sys/srs/srs_iolevel
    chmod 0664 /sys/srs/srs_memlevel

    # RSTINFO
    chown system system /sys/rstinfo/rstinfo_enable
    chown system system /proc/stability/rstinfo_cnt
    chown system system /proc/stability/rootinfo_cnt
    chown system system /proc/stability/rstinfo_debug
    chown system system /proc/stability/rstinfo_cnt_log
    chown system system /proc/stability/rstinfo_rst_log
    chown system system /proc/stability/rstinfo_android_cnt
    restorecon /sys/rstinfo/rstinfo_enable

    # Cirrus calibration
    chown system audio /dev/msm_cirrus_playback
    chmod 0660 /dev/msm_cirrus_playback

on boot
    # MZ_RPMB_CTL
    chown system system /dev/mz_rpmb_ctl
    chmod 0600 /dev/mz_rpmb_ctl

    # HBM mode
    chown system system /sys/class/meizu/lcm/display/hbm
    chmod 0644 /sys/class/meizu/lcm/display/hbm

    # AOD
    chown system system /sys/class/meizu/lcm/display/doze_mode
    chown system system /sys/class/meizu/lcm/display/aod
    chown system system /sys/class/meizu/lcm/display/doze_s2
    chmod 0666 /sys/class/meizu/lcm/display/doze_mode
    chmod 0666 /sys/class/meizu/lcm/display/aod
    chmod 0666 /sys/class/meizu/lcm/display/doze_s2

    # Sunnyscreen mode
    chown system system /sys/class/meizu/lcm/display/sunnyscreen
    chmod 0644 /sys/class/meizu/lcm/display/sunnyscreen
    # Screen off gestures

    chown system system /sys/class/meizu/tp/gesture_control
    chmod 0660 /sys/class/meizu/tp/gesture_control

    #DC mode
    chmod 0644 sys/class/meizu/lcm/display/DC_Enable
    chown system system sys/class/meizu/lcm/display/DC_Enable

    # Meizu Sensor Test service
    chown system system /vendor/bin/mz_sensor_test
    chmod 0666 /vendor/bin/mz_sensor_test

    # FOD
    chown system system /sys/class/meizu/fp/qos_set
    chmod 0644 /sys/class/meizu/fp/qos_set

    # Charging and USB stuff
    chown system system /sys/class/meizu/charger/fast_usb_mode
    chown system system /sys/class/meizu/charger/fastcharging
    chown system system /sys/class/meizu/usb_thermal/sync_temp
    chmod 0666 /sys/class/meizu/charger/fast_usb_mode
    chmod 0666 /sys/class/meizu/charger/fastcharging
    chmod 0444 /sys/class/meizu/usb_thermal/sync_temp
    # Enabled by default
    write /sys/class/meizu/charger/fast_usb_mode 1

    # Breath led mode
    chown system system /sys/class/meizu/mx_leds/leds/breath/blink
    chmod 0664 /sys/class/meizu/mx_leds/leds/breath/blink

    # Wifi firmware reload
    chown wifi wifi /sys/module/wlan/parameters/fwpath

    # Torch 
    chown system system  /sys/class/meizu/flash/flash_both
    chmod 0666  /sys/class/meizu/flash/flash_both

    # Double Tap to Wake
    chown system system /proc/tp_gesture
    chown system system /sys/touchpanel/double_tap
    chmod 0660 /proc/tp_gesture
    chmod 0660 /sys/touchpanel/double_tap

on boot
    mount bpf bpf /sys/fs/bpf nodev noexec nosuid
