# Copyright (c) 2024-2025, Code Aurora Forum. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of Code Aurora nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

# add charger to poweroff
service charger /system/bin/charger
    class charger
    user root
    group root
    seclabel u:r:healthd:s0

on property:ro.product.board=sdm845
    start vendor.thermal-engine

    # Disable console_suspend to get better logging for kernel crashes
    write /sys/module/printk/parameters/console_suspend N

    # Disable sched autogroup
    write /proc/sys/kernel/sched_autogroup_enabled 0

    # cpuset settings
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/system-background/cpus 0-3

    # bug fix memory speed
    write /sys/class/devfreq/soc:qcom,l3-cpu0/min_freq 1132800000
    write /sys/class/devfreq/soc:qcom,l3-cpu4/min_freq 1132800000

    # bug fix boost
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 15
    write /dev/stune/top-app/schedtune.prefer_idle 1

on property:ro.product.board=sdm710
    start vendor.thermal-engine

    # Disable console_suspend to get better logging for kernel crashes
    write /sys/module/printk/parameters/console_suspend N

    # Disable sched autogroup
    write /proc/sys/kernel/sched_autogroup_enabled 0

    # cpuset settings
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/system-background/cpus 0-3

    # bug fix memory speed
    write /sys/class/devfreq/soc:qcom,l3-cpu0/min_freq 1132800000
    write /sys/class/devfreq/soc:qcom,l3-cpu6/min_freq 1132800000

    # bug fix boost
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 15
    write /dev/stune/top-app/schedtune.prefer_idle 1

    # bug fix gpu speed
    write /sys/class/kgsl/kgsl-3d0/min_clock_mhz 355
    write /sys/class/kgsl/kgsl-3d0/device/devfreq/5000000.qcom,kgsl-3d0/min_freq 355000000

service vendor.thermal-engine /vendor/bin/thermal-engine
    class main
    user root
    group root
    socket thermal-send-client stream 0660 system oem_2907
    socket thermal-recv-client stream 0660 system oem_2907
    socket thermal-recv-passive-client stream 0660 system oem_2907
    socket thermal-send-rule stream 0660 system oem_2907
    disabled

on early-init
    setprop persist.thermalmanager.enable true
    setprop persist.thermalengine.platform qualcomm
    setprop persist.benchmarkconfig.enable true
    setprop persist.thermal.config /vendor/etc/thermal-engine.conf
    setprop persist.thermalconfig.powersave /vendor/etc/thermal.low.conf
    setprop persist.thermalconfig.mid /vendor/etc/thermal.mid.conf
    setprop persist.thermalconfig.high /vendor/etc/thermal.high.conf
    setprop persist.thermalconfig.benchmark /vendor/etc/thermal.benchmark.conf
    setprop persist.benchmark.mode 0

# Thermal scenarios profiles for bug fix performance(temperture on meizu) and max powersave
on property:persist.sys.thermal.scene=0
    stop vendor.thermal-engine
    setprop persist.vendor.thermal.config "/vendor/etc/thermal.low.conf"
    start vendor.thermal-engine
on property:persist.sys.thermal.scene=1
    stop vendor.thermal-engine
    setprop persist.vendor.thermal.config "/vendor/etc/thermal.mid.conf"
    start vendor.thermal-engine
on property:persist.sys.thermal.scene=2
    stop vendor.thermal-engine
    setprop persist.vendor.thermal.config "/vendor/etc/thermal.high.conf"
    start vendor.thermal-engine
on property:persist.sys.thermal.scene=3
    stop vendor.thermal-engine
    setprop persist.vendor.thermal.config "/vendor/etc/thermal.benchmark.conf"
    start vendor.thermal-engine
on property:persist.sys.thermal.scene=4
    stop vendor.thermal-engine
    setprop persist.vendor.thermal.config "/vendor/etc/thermal.super.conf"
    start vendor.thermal-engine
